# Regular Expression - Assignment 1

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'

In [5]:
# Replace all the characters (spaces,commas,dots with >>>> colons)
def replace_character_with_colon(text):
    new_text = text.replace(' ',':').replace(',',':').replace('.',':')
    return new_text

Text = 'Python Exercise, PHP exercise.'
output = replace_character_with_colon(Text)
print(output)

Python:Exercise::PHP:exercise:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [6]:
# Importing libraries ................
import pandas as pd
import re

In [28]:
data = {'SUMMARY' : ['hello, world!', '      test', '123four, five:; six...']}
df = pd.DataFrame(data)
df

                  SUMMARY
0           hello, world!
1                    test
2  123four, five:; six...

In [29]:
# to remove non word characters we need to define a function and use re.sub() function
def remove_non_words(text):
    return re.sub(r'[^A-Za-z\s]', '',text) # removes everything except words from given text

In [30]:
df['SUMMARY'] = df['SUMMARY'].apply(remove_non_words)
df['SUMMARY']

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [36]:
def words_with_4_char(text):
    pattern = re.compile(r'\b\w{4,}\b')
    out = pattern.findall(text)
    return out

In [38]:
text = 'Montana oil is good for hair growth'
words_with_4_char(text)

['Montana', 'good', 'hair', 'growth']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [39]:
def to_find_char_3_to_5(text):
    pattern = re.compile(r'\b\w{3,5}\b')
    out = pattern.findall(text)
    return out

In [40]:
text = 'My name is Rahul and I am not a terrorist'
to_find_char_3_to_5(text)

['name', 'Rahul', 'and', 'not']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [97]:
def remove_parentheses(strings):
    pattern = re.compile(r'\s*\([^)]*\)')
    # to remove parentheses
    out = [pattern.sub('', s) for s in strings]
    return out

In [98]:
text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [100]:
out = remove_parentheses(text)
for s in out:
    print(s)

example
hr@fliprobo
github
Hello
Data

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [104]:
with open('text.txt', 'r') as f:
    text = f.read()
    strings = text.strip('[]').split('", "')
    
cleaned_strings = []
for s in strings:
    cleaned = re.sub('\(.+?\)', '', s)
    cleaned_strings.append(cleaned.strip('"'))
    
print(cleaned_strings)

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”

In [108]:
text = 'ImportanceOfRegularExpressionsInPython'
pattern = r'[A-Z][^A-Z]*'
solu = print(re.findall(pattern,text))
solu

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [248]:
def insert_spaces(orignal):
    pattern = re.compile(r'\b(\d\w+)\b')
    out = pattern.sub(r' \1', orignal)
    return out

In [249]:
orignal = 'RegularExpression1IsAn2ImportantTopic3InPython'
insert_spaces(orignal)

'RegularExpression1IsAn2ImportantTopic3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [259]:
def insert_spaces(abc):
    pattern = re.compile(r'\b([A-Z\d]\w*)\b')
    result = pattern.sub(r'\1', abc)
    return result

In [262]:
sample_text = 'RegularExpression1IsAn2ImportantTopic3InPython'
modified = insert_spaces(sample_text)

In [263]:
modified

'RegularExpression1IsAn2ImportantTopic3InPython'

Question 10 - Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [265]:
import pandas as pd
url = 'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'

In [270]:
df = pd.read_csv(url)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [272]:
df['first_five_letters'] = df['Country'].str[:6]
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [273]:
pattern = r'^[a-zA-Z0-9_]*$'
string1 = 'HeyBoss123_321'
string2 = 'Hey Boss 123'
string3 = 'HeyBoss@123'
print(re.search(pattern, string1))
print(re.search(pattern, string2))
print(re.search(pattern, string3))

<re.Match object; span=(0, 14), match='HeyBoss123_321'>
None
None

Question 12- Write a Python program where a string will start with a specific number.

In [274]:
string = '123guruworld'

if string.startswith('123'):
     print('The string starts with number 123')
else:
    print('The string does not start with the number 123')

The string starts with number 123

Question 13- Write a Python program to remove leading zeros from an IP address

In [280]:
ip_address = '192.019.012.220'
pattern = r'\b0+(\d)'
x = re.sub(pattern,r"\1", ip_address)
print(x)

192.19.12.220

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’

In [286]:
with open('tct.txt') as f:
    tct = f.read()

In [287]:
pattern = r'(\w+\s+\d+st|\d+th|\d+rd|\d+nd)\s(\d{4})'
matching = re.search(pattern, tct)
if matching:
    print(matching.group())

15th 1947

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'

In [292]:
text = 'The quick brown fox jumps over the lazy dog'
search_words = ['fox', 'dog','horse']

for word in search_words:
    print(f"searching for '{word}' in text:" )
    if re.search(rf'\b{word}\b', text):
        print(f"matched'{word}'")
        print(f"Did not match '{word}'")

searching for 'fox' in text:
matched'fox'
Did not match 'fox'
searching for 'dog' in text:
matched'dog'
Did not match 'dog'
searching for 'horse' in text:

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [293]:
text = 'The quick brown fox jumps over the lazy dog'
search_word = 'fox'
match = re.search(rf'\b{search_word}\b', text)

In [296]:
if match:
    print(f"'{search_word}' found text:")
    print(f"start position: {match.start()}")
    print(f"End position: {match.end()}")
else:
    print(f"word '{search_word}' not found")

'fox' found text:
start position: 16
End position: 19

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [357]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
match = re.finditer(pattern, text)

In [358]:
for mat in match:
    print(f"match found: {mat.group()}")
    print(f"start position: {mat.start()}")
    print(f"End position: {mat.end()}")

match found: exercises
start position: 7
End position: 16
match found: exercises
start position: 22
End position: 31
match found: exercises
start position: 36
End position: 45

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [313]:
text = 'Python exercises, PHP exercises, C# exercises'
substrings = ['python', 'exercises', 'PHP']

In [319]:
for substring in substrings:
    print(f"searching for '{substring}'")
    matches = re.finditer(substring, text)

searching for 'python'
searching for 'exercises'
searching for 'PHP'

In [320]:
for match in matches:
    print(f"match found: {match.group()}")
    print(f"start position: {match.start()}")
    print(f"End position: {match.end()}")

match found: PHP
start position: 18
End position: 21

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [321]:
date = '2023-04-20'
pattern = r'(\d{4})-(\d{2})-(\d{2})'
replace = r'\3-\2-\1'
new = re.sub(pattern, replace, date)
print(new)

20-04-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [331]:
def decimals(abcd):
    pattern = re.compile(r'\d+\.\d{1,2}')
    matches = pattern.findall(abcd)
    return matches
sam_1 = '01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
sam_1

'01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'

In [332]:
decimals(sam_1)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [335]:
string = 'Rack number 1, 13, 14 and 2 are having ten lakhs and above stuff'
pattern = r'\d+'
matches = re.finditer(pattern, string)

In [336]:
for match in matches:
    print(f"number: {match.group()}")
    print(f"start position: {match.start()}")
    print(f"End position: {match.end()}")

number: 1
start position: 12
End position: 13
number: 13
start position: 15
End position: 17
number: 14
start position: 19
End position: 21
number: 2
start position: 26
End position: 27

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [337]:
text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numbers = re.findall(r'\d+', text)
max_num = max([int(x) for x in numbers])

In [338]:
max_num

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"

In [339]:
def create_spaces(text):
    return re.sub(r'([A-Z])', r' \1', text)
S_txt = 'RegularExpressionIsAnImportantTopicInPython'
print(create_spaces(S_txt))

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [340]:
pattern = r'[A-Z][a-z]+'
string = 'HeyBoss Hey morning'
Matches = re.findall(pattern, string)
Matches

['Hey', 'Boss', 'Hey']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"

In [346]:
text = "Hello hello world world"
pattern = r'\b(w+)\s+\1\b'
result = re.sub(pattern, r'\1', text)
result

'Hello hello world world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [349]:
def string(text):
    pattern = r'\w$';
    
    if re.search(pattern, text):
        print('valid string')
    else:
        print('Invalid string')       
string('Hello1234')
string('Hello@')
string('program2')

valid string
Invalid string
valid string

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [350]:
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [351]:
pattern = r'#(\w+)'
hastags = re.findall(pattern, text)

In [352]:
hastags

['Doltiwal', 'xyzabc', 'Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [353]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [354]:
pattern = r'<U\+[0-9A-F]{4}>'
new_text = re.sub(pattern, '', text)

In [355]:
new_text

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [359]:
with open('a.txt') as f:
    a = f.read()
pattern = r'\d{2}-\d{2}-\d{4}'
matches = re.findall(pattern, a)

In [360]:
matches

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [361]:
def remove_words(text):
    pattern = re.compile(r'\b\w{2,4}\b')
    return pattern.sub('', text)
S_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [362]:
remove_words(S_text)

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'